//======================= import =======================

@import '../../vars';

//======================================================


//====================== styles ========================

.portfolio-block{
    &__content {
    margin: 40px 0px;
    }
    &__button {
        text-align: center;
        .portfolio-button {
            &__btn {
                cursor: pointer;
                font-family: $font-bold;
                background-color: $color-primary-white;
                font-size: 14px;
                padding: 10px 20px;
                border: 2px solid $color-primary-black;
            }
        }
    }
    &__title {
        font-size: 45px;
        text-align: center;
        font-family: $font-bold;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}

.portfolio-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    &__filter {
        font-family: $font-regular;
        font-size: 20px;
        color: rgba($color-primary-black,.4);
        margin: 0px 15px;
        &:hover {
            text-decoration: underline;  
        }       
    }
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px 40px -15px;
    &__column {
        flex: 0 0 33.333%;
        padding: 15px;
        transition: all 1s ease;
    }
}

.portfolio-item {
    box-shadow: 0 0 4px rgba($color-primary-black,.25);
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow .2s linear;
    &:hover {
        box-shadow: 0 0 25px rgba($color-primary-black,.25);
    }  
    &__link {
        img {
            width: 370px;
            height: 250px;
            display: block;
            max-width: 100%;
            // height: auto;
        }
    }
}

.portfolio-text {
    padding: 15px;
    text-transform: uppercase;
    &__category {
        font-size: 12px;
        font-family: $font-regular;
        color: rgba($color-primary-black, .3);
        margin-bottom: 12px;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-family: $font-bold;
    }
    &__date {
        font-size: 16px;
        font-family: $font-bold;
    }
}

.hide {
    flex: none;
    opacity: 1;
    animation:  portfolio;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: scale(-1)
}
@keyframes portfolio {
    to {
        height: 0;
        width: 0;
        opacity: 0;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

.non-visible {
   display: none;
}

.active-filter {
    font-family: $font-bold;
    color: $color-primary-black;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba($color-primary-black,.40);
}

//======================================================