//======================= import ========================

@import '../../vars';

//=======================================================


//=================== default styles ====================

* {
    margin: 0;
    padding: 0;
    // text-decoration-skip-ink: none;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    // user-select: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    font-size: 15px;
}
body {
    font-family: $font-regular;
    font-size: 15px;
    color: $color-primary-black;
}

._container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
._btn {
    display: inline-block;
        vertical-align: top;
        font-family: $font-regular;
        text-transform: uppercase;
        font-size: 16px;
        border: 1px solid $color-primary-black;
        border-radius: 30px;
        padding: 15px 35px;
        color: $color-primary-black;
        transition: background-color .2s linear, color .2s linear, box-shadow .2s linear;
        &:hover {
            color: $color-primary-white;
            background-color: $color-primary-black;
            box-shadow: 2px 2px 10px rgba($color-primary-black,.24);
            
        }
}
//=======================================================


