//======================= import =======================

@import '../../vars';

//======================================================


//====================== styles ========================

//---------------------- intro -------------------------

.intro-block {
    &__content {
        display: flex;
        border-bottom: 1px solid rgba($color-primary-grey, .3);
        padding-bottom: 120px;
        
    }
    &__info {
        width: 50%;
    }
    &__picture {
        width: 50%;
        img {
            height: 100%;
            width: 100%; 
        }
    }
    &__social {
        display: flex;  
    }
}

.social-links {
    margin-top: 20px;
    margin-bottom: 40px;
    &__link {
        margin-right: 30px;
        img {
            width: 30px;
            height: 30px;
            transition: transform 0.2s linear;
            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}

.info-block {
    padding-top: 100px;
    &__subtitle {
        h2 {
            font-family: $font-extra-light;
            font-size: 32px;
        }
        
    }
    &__title {
        margin-bottom: 5px;
        h1 {
            font-family: $font-bold;
            font-size: 45px;
        }
    }
    &__text {
        font-family: $font-regular;
        font-size: 18px;
        color: rgba($color-primary-black,.7);
    }    
}

.info-buttons {
    &__button {
        &:last-child {
            margin-left: 15px;
        }
    }
}

//----------------------------------------------------

//-------------------- portfolio ---------------------

.portfolio-block{
    &__content {
    margin: 40px 0px;
    }
    &__button {
        text-align: center;
        .portfolio-button {
            &__btn {
                cursor: pointer;
                font-family: $font-bold;
                background-color: $color-primary-white;
                font-size: 14px;
                padding: 10px 20px;
                border: 2px solid $color-primary-black;
            }
        }
    }
    &__title {
        font-size: 45px;
        text-align: center;
        font-family: $font-bold;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}

.portfolio-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    &__filter {
        font-family: $font-regular;
        font-size: 20px;
        color: rgba($color-primary-black,.4);
        margin: 0px 15px;
        &:hover {
            text-decoration: underline;  
        }
              
    }
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px 40px -15px;
    &__column {
        flex: 33.333%;
        padding: 15px;
          
    }
}

.portfolio-item {
    box-shadow: 0 0 4px rgba($color-primary-black,.25);
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow .2s linear;
    &:hover {
        box-shadow: 0 0 25px rgba($color-primary-black,.25);
    }  
    &__link {
        img {
            width: 370px;
            height: 300px;
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}

.portfolio-text {
    padding: 15px;
    text-transform: uppercase;
    &__category {
        font-size: 12px;
        font-family: $font-regular;
        color: rgba($color-primary-black, .3);
        margin-bottom: 12px;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-family: $font-bold;
    }
    &__date {
        font-size: 16px;
        font-family: $font-bold;
    }
}

//------------------------------------------------------

//----------------------- about ------------------------

.about-block {
    &__content {
        margin: 120px 0px;
        max-width: 1090px;
        display: flex;
    }
    &__picture, &__text {
        width: 50%;
    }
    &__text {
        padding-left: 45px;
    }
    &__picture {
        display: flex;
        align-items: center;
        position: relative;
        img {
            position: relative;
            z-index: 2;
            display: block;
            max-width: 100%;
            height: auto;
            
        }
        &::before {
            content: '';
            width: 595px;
            height: 480px;
            background-color: rgba(240, 243, 238, 0.7);
            position: absolute;
            left: -25px;
            bottom: 0;
            z-index: 1;
        }
    }
}

.about-text {
    &__title, &__subtitle{
        text-transform: uppercase;
    }
    &__title {
        font-family: $font-bold;
        font-size: 45px;
    }
    &__subtitle {
        font-family: $font-bold;
        font-size: 90px;
        color: rgba($color-primary-black, 0.2);
        margin-bottom: 20px;
        line-height: 1.1;
        position: relative;
        left: -10px;
    }
    &__text {
        margin-bottom: 40px;
        p {
            font-family: $font-light;
            font-size: 12px;
            color: rgba($color-primary-grey, .7);
            line-height: 2;
        }
    }
}

.about-buttons {
    margin-bottom: 40px;
    &__button {
        &:last-child {
            margin-left: 15px;
        }
    }
}
//------------------------------------------------------

//------------------- Certificates ---------------------

.certificates-title {
   text-align: center;
   &__title {
       font-family: $font-bold;
        font-size: 45px;
        text-transform: uppercase;
        color: $color-primary-black;
        margin-bottom: 10px;
   }
   &__text {
       font-family: $font-light;
       color: $color-primary-grey-light;
       font-size: 18px;
       margin-bottom: 60px;
   }
}

.certificates-content {
    display: flex;
    flex-wrap: wrap;
    &__column {
        width: 33.33333%;
        padding: 0px 30px;
    }
    &__item {
        margin-bottom: 30px;
        .certificates-content__button {
            padding: 10px 25px;
        }
    }
    &__text {
        margin-bottom: 30px;
    }
    &__certificate {
        position: relative;
        margin-bottom: 20px;
        img {
            width: 370px;
            height: 300px;
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    &__date {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 77px;
        height: 77px;
        background-color: $color-primary-black;
        color: $color-primary-white;
        font-size: 16px;
        line-height: 1.4;
        font-family: $font-bold;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &__title, &__category {
        text-transform: uppercase;
    }
    &__category, &__description {
        font-size: 12px;
    }
    &__title {
        font-family: $font-bold;
        font-size: 18px;
        color: $color-primary-black;
        margin-bottom: 5px;
        a {
            color: inherit;
            &:hover {
                text-decoration: underline;
            }    
        }   
    }
    &__category {
        font-family: $font-regular;
        color: $color-primary-black;
        margin-bottom: 20px;
    }
    &__description {
        font-family: $font-light;
        color: $color-primary-grey;
        line-height: 2;
    }
}

//------------------------------------------------------
//======================================================