//======================= import =======================

@import '../../vars';

//======================================================


//====================== styles ========================

//---------------------- intro -------------------------

.page {
    margin-bottom: 120px;
}
.intro-block {
    &__content {
        display: flex;
        border-bottom: 1px solid rgba($color-primary-grey, .3);
        padding-bottom: 120px;
        
    }
    &__info {
        width: 50%;
    }
    &__picture {
        width: 50%;
        img {
            height: 100%;
            width: 100%; 
        }
    }
    &__social {
        display: flex;  
    }
}

.social-links {
    margin-top: 30px;
    margin-bottom: 40px;
    &__link {
        display: inline-block;
        margin-right: 30px;
        img {
            width: 40px;
            height: 40px;
            transition: transform 0.2s linear;
            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}

.info-block {
    padding-top: 100px;
    &__subtitle {
        h2 {
            font-family: $font-extra-light;
            font-size: 32px;
        }
        
    }
    &__title {
        margin-bottom: 5px;
        h1 {
            font-family: $font-bold;
            font-size: 45px;
        }
    }
    &__text {
        font-family: $font-regular;
        font-size: 18px;
        color: rgba($color-primary-black,.7);
    }    
}

.info-buttons {
    &__button {
        &:last-child {
            margin-left: 15px;
        }
    }
}

//------------------------------------------------------

//----------------------- about ------------------------

.about-block {
    &__content {
        margin: 250px 0px;
        margin-left: 20px;
        max-width: 1090px;
        display: flex;
    }
    &__picture, &__text {
        width: 50%;
    }
    &__text {
        padding-left: 45px;
    }
    &__picture {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &_frame {
            background-color: rgba(240, 243, 238, 0.7);
            padding: 30px 30px 100px 30px;
            img {
                position: relative;
                z-index: 2;
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.about-text {
    &__title, &__subtitle{
        text-transform: uppercase;
    }
    &__title {
        font-family: $font-bold;
        font-size: 45px;
    }
    &__subtitle {
        font-family: $font-bold;
        font-size: 90px;
        color: rgba($color-primary-black, 0.2);
        margin-bottom: 20px;
        line-height: 1.1;
        position: relative;
        left: -10px;
    }
    &__text {
        margin-bottom: 40px;
        p {
            font-family: $font-light;
            font-size: 12px;
            color: rgba($color-primary-grey, .7);
            line-height: 2;
            padding: 5px 0;
        }
    }
}

.about-buttons {
    &__button {
        &:last-child {
            margin-left: 15px;
        }
    }
}
//------------------------------------------------------

//======================================================


//======================= media ========================

@media (max-width: 1200px) {
    .about-text {
        &__subtitle {
            font-size: 60px;
        }
    }
}

@media (max-width: 992px) {
    .about-block {
        &__content {
            display: block;
            margin-left: 0;
        }
        &__picture, &__text {
            width: 100%;
        }
        &__picture {            
            margin-bottom: 20px;
            img {
                width: 400px;
                height: auto;
            }
        }
        &__text {
            padding-left: 0;
            padding: 20px;
        }
    }
    .intro-block {
        &__info {
            width: 100%;
        }
        &__picture {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .social-links {
        &__link {
            margin-right: 15px;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
    .info-block {
        &__title {
            h1 {
                font-size: 40px;
            }
        }
    }
    .about-block {
        &__text {
            padding: 0;
        }
        &__picture {
            &_frame {
                padding: 20px 20px 80px 20px;
            }
        }
    }
    .about-text {
        &__title {
            font-size: 25px;
            text-align: center;
        }
        &__subtitle {
            font-size: 35px;
            text-align: center;
            left: 0;
        }
    }
}

//======================================================