//====================== import ========================

@import '../../../vars';

//======================================================


//====================== styles ========================

.actions-header {
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    &__link {
        font-family: $font-bold;
        margin: 10px 20px;
        position: relative;
        font-size: 14px;
        color: $color-primary-black;
        text-transform: uppercase;
        &::after {
            content: '';
            width: 0;
            height: 2px;
            background-color: $color-primary-black;
            position: absolute;
            bottom: -2px;
            left: 0;
            z-index: 1;
            transition: width 0.3s linear;

        }
        &:hover:not(.actions-header__link_btn) {
            &::after {
                width: 100%;
            }
        }
        &_btn {
            padding: 10px 30px;
            margin: 10px 30px;
            border: 2px solid $color-primary-black;
            border-radius: 20px;
            transition: 
            background-color
            .2s linear, color
            .2s linear;
            &:hover {
                background-color: $color-primary-black;
                color: $color-primary-white;
                
            }
        }
    }    
}

.header-menu {
    &__icon {
        display: none;
    }
    
}

//======================================================


//======================= media ========================

@media (max-width: 992px) {
    .header-nav {
        &__column {
            display: none;
        }
    }

    .header-nav {
        ._show {
            display: flex;
            background-color: $color-primary-white;
        }
        ._hide {
            display: none;
        }
    }

    .actions-header {
        width: 100%;
        height: auto;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        text-align: center;
        background-color: $color-primary-white;
        box-shadow: 0 10px 10px rgba(#000000,.15);
        padding: 10px;
        &:first-child {
            padding: 35px 0px 0px 0px;
        }
        li {
            width: 100%;
            padding: 10px 0;
            &:last-child {
                margin: 10px 0px;
            }
        }
        &__link {
            margin: 0;
            &_btn {
                margin: 0;
            }
        }
    }
    .header-menu {
        display: none;
        width: 100%;
        height: 0;
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        &__icon {
            display: block;
            width: 50px;
            height: 50px;
            max-width: 100%;
            position: relative;
            z-index: 3000;
        }     
        display: flex;
        justify-content: flex-end;
        &__icon {
            top: 24px;
            right: 15px;
        }
    }
}

//======================================================