//====================== import ========================

@import '../../../vars';

//======================================================


//====================== styles ========================

.actions-header {
    display: flex;
    height: 100%;
    align-items: center;
    &__link {
        font-family: $font-bold;
        margin: 10px 20px;
        position: relative;
        font-size: 14px;
        color: $color-primary-black;
        text-transform: uppercase;
        &::after {
            content: '';
            width: 0;
            height: 2px;
            background-color: $color-primary-black;
            position: absolute;
            bottom: -2px;
            left: 0;
            z-index: 1;
            transition: width 0.3s linear;

        }
        &:hover:not(.actions-header__link_btn) {
            &::after {
                width: 100%;
            }
        }
        &_btn {
            padding: 10px 30px;
            margin: 10px 30px;
            border: 2px solid $color-primary-black;
            border-radius: 20px;
            transition: 
            background-color
            .2s linear, color
            .2s linear;
            &:hover {
                background-color: $color-primary-black;
                color: $color-primary-white;
                
            }
        }
    }    
}

//======================================================