//====================== import ========================

@import '../../../vars';

//======================================================


//====================== styles ========================

.modal-resume {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba($color-primary-black, .5);
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    transform: scale(0);
}

.modal_R-block {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: $color-primary-white;
    transform: scale(1);
    transition: 0.4s all ease;
    &__close {
        background: none;
        border: 0;
        &_icon {
            width: 35px;
            height: 35px;
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            transition: all .2s ease;
            &:hover {
                width: 40px;
                height: 40px;
                transform: rotate(90deg);
            }
        }
    }
}

.modal_R-content {
    text-align: center;
    &__header {
        font-family: $font-bold;
        font-size: 25px;
        text-transform: uppercase;
        margin: 45px 20px;
    }
    &__footer {
        background-color: $color-primary-black;
    }
    .social-contacts {
        &__link {
             &_icon {
                width: 100px;
                height: 100px;  
                transition: all .5s ease;
                &:hover {
                    border-radius: 100%;
                }
            }
        }
    }
}

.side-text {
    &__hired {
        font-family: $font-extra-light-italic;
        font-size: 20px;
        color: $color-primary-white;
        padding: 30px;
    }
}

//======================================================


//======================= media ========================

@media (max-width: 576px) {
    .modal_R-content {
        &__header {
            font-size: 15px;
            margin: 45px 10px;
        }
    }
}

//======================================================